body{
  background: url('../img/timeswebx.jpg');
  font-family: 'Slackey', Helvetica, serif;
  opacity: .9;
}

.panelTitle{
  background-color: black;
  color: blue;
  opacity: .9;
}

.panel {
  height: 500px;
  opacity: .9;
}

.btn {
  background-color: blue;
}
h2 {
	font-size: 40px;
	color: red;
}
h3 {
	font-size: 25px;
}
h5 {
	font-size: 25px;
	color: white;
}